{% extends "layouts/base_ent.html" %} {% block title %} UI Typography {% endblock %}
{% load crispy_forms_tags %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<main class="c-main">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"><strong><h3>ADD PROGRAM</h3></strong></div>
            <for class="card-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

<!--                    <div class="form-group row">-->
<!--                        <label class="col-md-2 col-form-label" for="text-input">Program ID</label>-->
<!--                        <div class="col-md-3">-->
<!--                            <input class="form-control" id="text-input" type="text" name="department_id" placeholder="Enter program ID"><span class="help-block"></span>-->
<!--                            {{ form.department_id }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                        <label class="col-md-2 col-form-label" for="text-input">Department ID</label>-->
<!--                        <div class="col-md-3">-->
<!--                            <input class="form-control" id="text-input" type="text" name="Department ID" placeholder="Enter Department ID"><span class="help-block"></span>-->
<!--                            {{ form.department_id }}-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">participant ID</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter ID of program"><span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for=" " >Program name</label>
                        <div class="col-md-3">
                            {{ form.program_name }}
<!--                            <input class="form-control" id=" " type="text" name="programname" placeholder="Enter program name" value="">-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for=" ">Department name</label>
                            <div class="col-md-3">
<!--                                <select class=form-control" id="select1" name="depart" data-value="{{ depart_name }}">-->
                                {{ form.depart_name }}
                            </div>
<!--                                </select>-->

<!--                            </div>-->
<!--                              <select class="form-control" id="" name="select1">-->
<!--                                <option value="{{ depart_name }}">{{ depart_name }}</option>-->
<!--                                <option value="{{ depart_name }}">{{ depart_name }}</option>-->
<!--                                <option value="{{ depart_name }}">{{ depart_name }}</option>-->
<!--                                <option value="{{ depart_name }}">{{ depart_name }}</option>-->
<!--                              </select>-->
<!--                            </div>-->
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">Location</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter location"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">Collage Name</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Collage where program held"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">City</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter City where program held"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">State</label>
                        <div class="col-md-3">
                            {{ form.state }}
<!--                            <input class="form-control" id="" type="text" value = "{{ state }}" name="State" placeholder="Enter State where program held" required><span class="help-block"></span>-->

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">No of participants</label>
                        <div class="col-md-3">
<!--                            <input class="form-control" type="number" name="financialyear" value = "{{ financial_year }}" placeholder="Enter total number of participants" required><span class="help-block"></span>-->
                            {{ form.financial_year }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">Financial Year</label>
                        <div class="col-md-3">
<!--                            <input class="form-control"  type="text" name="participants" value = "{{ no_of_participants }}" placeholder="Enter year in which program held" required><span class="help-block"></span>-->
                            {{ form.no_of_participants }}
                        </div>
                    </div>
<!--                    <div class="form-group row">-->
<!--                        <label class="col-md-2 col-form-label" for="text-input">Address</label>-->
<!--                        <div class="col-md-3">-->
<!--                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Address"><span class="help-block"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                        <label class="col-md-2 col-form-label" for="text-input">City</label>-->
<!--                        <div class="col-md-3">-->
<!--                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter City"><span class="help-block"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                        <label class="col-md-2 col-form-label" for="text-input">Collage name</label>-->
<!--                        <div class="col-md-3">-->
<!--                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter collage name"><span class="help-block"></span>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">
                            <svg class="c-icon">
                                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-data-transfer-down"></use>
                            </svg>Submit
                        </button>
                        <button class="btn btn-danger" type="reset">
                            <svg class="c-icon">
                                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lightbulb"></use>
                            </svg>Reset
                        </button>
                        {% if message %}
                        {% for message in messages %}
                            <h2> {{message}} </h2>
                        {% endfor %}
                        {% endif %}
                    </div>
                </form>
</main>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}