{% extends "layouts/base_ent.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="card">
                <div class="card-header">
                    <h1>PARTICIPANTS</h1>
                </div>
                <div class="card-body">
                    <p>Add the PARTICIPANTs in Database</p>
                    <div class="col-sm-30">
                        <div class="card">
                            <div class="card-header"><strong><b> PARTICIPANT</b></strong> </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="vat"><b><i> PROGRAM ID</b></i></label>
                                    <input class="form-control" id="vat" type="text" placeholder="Enter your Program ID">
                                </div>
                                <div class="form-group">
                                    <label for="company"><b><i>PARTICIPANT NAME</i></b></label>
                                    <input class="form-control" id="company" type="text" placeholder="Enter your Name">
                                </div>
                                <div class="form-group">
                                    <label for="vat"><i><b>FATHER'S NAME</i></b></label>
                                    <input class="form-control" id="vat" type="text" placeholder="Enter your Father's Name">
                                </div>
                                <div class="form-group">
                                    <label for="street"><i><b>DATE OF BIRTH</i></b></label>
                                    <input class="form-control" id="street" type="date" placeholder="Enter Date Of Birth">
                                </div>
                                <div class="form-group">
                                    <label for="city"><i><b>City</i></b></label>
                                    <input class="form-control" id="city" type="text" placeholder="Enter your city">
                                </div>
                                <div class="form-group">
                                    <label for="postal-code"><i><b>Postal Code</i></b></label>
                                    <input class="form-control" id="postal-code" type="text" placeholder="Postal Code">
                                </div>
                                <div class="col-sm-3">
                                    <button class=" btn btn-block btn-primary " type="button ">ADD PARTICIPANT</button>
                                </div>

                                <!-- /.row-->

                            </div>
                        </div>
                    </div>
                    <!-- /.col-->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}