{% extends "layouts/base_skill.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<main class="c-main">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"><strong><h3>EDIT PROGRAMS</h3></strong></div>
            <div class="card-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">Program ID</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter program ID"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">Department ID</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Department ID"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">Program name</label>
                        <div class="col-md-3">
                            <input class="form-control" id="email-input" type="text" name="email-input" placeholder="Enter program name"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">Trade</label>
                        <div class="col-md-3">
                            <input class="form-control" id="email-input" type="text" name="email-input" placeholder="Enter program name"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">State</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter State where program held"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">City</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter State where program held"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">Location</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter State where program held"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">No of participants</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter total number of participants"><span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">Financial Year</label>
                        <div class="col-md-3">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter year in which program held"><span class="help-block"></span>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                        <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
                    </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}