{% extends "layouts/base_ent.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<main class="c-main">
    <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-right">
        <a href="ui-program_ent.html"><button class="btn btn-success btn-lg px-4" type="submit"> ADD PROGRAMS </button></a>
    </div>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}