{% extends "layouts/base_skill.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="card">
                <div class="card-header">
                    <h1>PARTICIPANTS</h1>
                </div>
                <div class="card-body">
                    <p>Add the PARTICIPANTS in Database</p>
                    <div class="col-sm-30">
                        <div class="card">
                            <div class="card-header"><strong><b> PARTICIPANT</b></strong> </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PROGRAM ID</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Program ID"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PARTICIPANT ID</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Program ID"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">SALUTATION</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Mr</option>
                                      <option>Ms</option>
                                      <option>Mrs</option>
                                      <option>Mx</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">FIRST NAME</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter First Name"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">LAST NAME</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Last Name"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">GENDER</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Male</option>
                                      <option>Female</option>
                                      <option>Others</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">DATE OF BIRTH</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="Date" name="text-input" placeholder="Enter Date of Birth"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="email-input">EMAIL</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="email-input" type="email" name="email-input" placeholder="Enter participant name"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">MARITAL STATUS</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Unmarried</option>
                                      <option>Married</option>
                                      <option>Divorced</option>
                                      <option>Separated</option>
                                      <option>Not to be disclosed</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">FATHER'S NAME</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Father's Name"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">MOTHER'S NAME</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Mother's Name"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">RELIGION</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Atheist</option>
                                      <option>Hinduism</option>
                                      <option>Christanity</option>
                                      <option>Sikhism</option>
                                      <option>Islam</option>
                                      <option>Jainism</option>
                                      <option>Buddhism</option>
                                      <option>Zoroastrian</option>
                                      <option>Jews</option>                                     
                                      <option>Not to be disclosed</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">CATEGORY</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>General</option>
                                      <option>OBC</option>
                                      <option>SC</option>
                                      <option>ST</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">DISIBILITY:YES OR NO</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Yes</option>
                                      <option>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">TYPE OF DISIBILITY</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Locomotor Disability</option>
                                      <option>Leprosy Cured Person</option>
                                      <option>Dwarfism</option>
                                      <option>Acid Attack Victim</option>
                                      <option>Blindness/VisualImpairment</option>
                                      <option>Low-vision (Visual Impairment)</option>
                                      <option>Deaf</option>
                                      <option>Hard of Hearing</option>
                                      <option>Speech and Language Disability</option>                                     
                                      <option>Intellectual Disability /Mental Retardation</option>
                                      <option>Autism Spectrum Disorder</option> 
                                      <option>Specific Learning Disabilities</option> 
                                      <option>Mental Behavior-Mental Illness</option> 
                                      <option>Haemophilia</option> 
                                      <option>Thalassemia</option> 
                                      <option>Sickle Cell Disease</option> 
                                      <option>Deaf Blindness</option> 
                                      <option>Cerebral Palsy</option> 
                                      <option>Multiple Sclerosis</option> 
                                      <option>Muscular Dystrophy</option> 
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">DOMICILE STATE</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Domicile State"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">DOMICILE DISTRICT</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Domicile District"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">ID CARD TYPE</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Aadhaar Card</option>
                                      <option>Alternate ID</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">ALTERNATE ID TYPE</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>PAN Card </option>
                                      <option>Voter ID Card</option>
                                      <option>'Domicile Certificate</option>
                                      <option>IST/SC Certificate</option>
                                      <option>Permanent Residential Certificate (PRC)</option>
                                      <option>Driving License</option>
                                      <option>Ration Card</option>
                                      <option>Televsion</option>
                                      <option>Birth Certificate issued by Government</option>                                     
                                      <option>BPL Card</option>
                                      <option>National Population Register (NPR) Card</option> 
                                      <option>Identity proof by Gazetted officers</option> 
                                      <option>Passport</option> 
                                      <option>Jail Identification Card/ Number</option> 
                                      <option>School leaving certificate/10th certificate</option> 
                                      <option>Letter of domicile from SDM/DM/Government Authority</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">COUNTRY CODE</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter Country Code"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PHONE NUMBER</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter Phone Number"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">EDUCATION LEVEL</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Education level"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PERMANENT ADDRESS</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Permanent Address"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PERMANENT CONSTITUENCY</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Permanent Constituency"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PERMANENT TEHSIL</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Permanent Tehsil"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PERMANENT CITY</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Permanent City"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PERMANENT DISTRICT</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Permanent District"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PERMANENT STATE</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Permanent state"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PERMANENT ADDRESS PINCODE</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter Pincode"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">PA SAME AS CA</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Yes</option>
                                      <option>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">COMMUNICATION ADDRESS</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Communication Address"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">COMMUNICATION CONSTITUENCY</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Communication Constituency"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">COMMUNICATION TEHSIL</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Communication Tehsil"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">COMMUNICATION CITY</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Communication City"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">COMMUNICATION DISTRICT</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Communication District"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">COMMUNICATION STATE</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Communication state"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">COMMUNICATION ADDRESS PINCODE</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter Pincode"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">TRAINING STATUS</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Fresher</option>
                                      <option>Experienced</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">EMPLOYMENT STATUS</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Yes</option>
                                      <option>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">EMPLOYED THROUGH</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Employed Through Registered Employer</option>
                                      <option>Opted for Higher Studies</option>
                                      <option>Self Employed</option>
                                      <option>Up Skilled</option>
                                      <option>Employed</option>
                                      <option>NA</option>
                                      <option>Employed at Training Partner</option>
                                      <option>Employed at Other Firm</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">PREVIOUS SECTOR EXPERIENCE</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Previous Sector Exp"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">NUMBER OF MONTHS IN PREVIOUS JOB</label>
                                    <div class="col-md-3">
                                        <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter Number of Months"><span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="ccyear">HEARD ABOUT US</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ccyear">
                                      <option>Poster</option>
                                      <option>SMS</option>
                                      <option>Training Provider</option>
                                      <option>Internet</option>
                                      <option>Government Agency</option>
                                      <option>Radio</option>
                                      <option>Newspaper</option>
                                      <option>Televsion</option>
                                      <option>Advertisements</option>                                     
                                      <option>Social Media</option>
                                      <option>Pamphlets</option> 
                                      <option>Recorded Phone</option> 
                                      <option>Message</option> 
                                      <option>Newsletter</option> 
                                      <option>Kaushal Mela</option> 
                                      <option>Call Centre</option> 
                                      <option>Rozgar Mela</option> 
                                      <option>Others</option> 
                                      <option>Event Workshop</option> 
                                    </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class=" btn btn-block btn-primary " type="button ">ADD PARTICIPANT</button>
                                </div>

                                <!-- /.row-->

                            </div>
                        </div>
                    </div>
                    <!-- /.col-->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}