{% extends "layouts/base_awareness.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
<link href="/static/assets/vendors/@coreui/icons/css/free.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endblock stylesheets %} {% block content %}
<header class=" c-header c-header-light c-header-fixed c-header-with-subheader ">
    <div class="c-subheader px-3 ">
        <ul class="breadcrumb ">
            <li class="breadcrumb-item ">
                <a href="# " class="breadcrumbs-link ">Home</a>
            </li>
            <li class="breadcrumb-item ">
                <a href="/ui-view_department_awareness_chart.html" class="breadcrumbs-link ">Awareness</a>
            </li>
            <li class="breadcrumb-item ">
                <a href="/ui-view_department_awareness_chart.html" class="breadcrumbs-link active ">Analytics</a>
            </li>
        </ul>
    </div>
</header>
<!DOCTYPE HTML>
<html>

<head>
    <script>
        window.onload = function() {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,

                title: {
                    text: "Program Table"
                },
                axisX: {
                    interval: 1
                },
                axisY2: {
                    interlacedColor: "rgba(1,77,101,.2)",
                    gridColor: "rgba(1,77,101,.1)",
                    title: "Number of participants in Each program"
                },
                data: [{
                    type: "bar",
                    name: "Programs",
                    axisYType: "secondary",
                    color: "#8A2BE2",
                    dataPoints: [{
                        y: 1772,
                        label: "TEDP"
                    }, {
                        y: 1585,
                        label: "WEDP"
                    }, {
                        y: 2083,
                        label: "STEDP"
                    }, {
                        y: 1208,
                        label: "EDP"
                    }, {
                        y: 1194,
                        label: "EDP Women"
                    }, {
                        y: 1185,
                        label: "EDP "
                    }, {
                        y: 1316,
                        label: "EDP "
                    }]
                }]
            });
            chart.render();

        }
    </script>
</head>


<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html> {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/charts.js"></script>
{% endblock javascripts %}