{% extends "layouts/base_skill.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/vendors/@coreui/icons/css/free.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endblock stylesheets %} {% block content %}
<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <div class="c-subheader px-3">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" class="breadcrumbs-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/deptSkill" class="breadcrumbs-link ">Skill</a>
            </li>
            <li class="breadcrumb-item ">
                <a href="/placementSkill_list" class="breadcrumbs-link active">Manage Placement Details</a>
            </li>
        </ul>
    </div>
</header>
<main class="c-main">
    <div class="form-group row">
         <div class="col-sm-9">
            <div class="input-group ">
                <form method="get">
                    {{ filter.form.placement_status }}
                    {{ filter.form.participant_id_skill }}
                    {{ filter.form.placement_id_rced_batch_id }}
                    <span class="input-group-prepend"><button class="btn btn-primary btn-sm" type="submit">
                        <svg class="c-icon">
                          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"></use>
                        </svg> Search
                    </button></span>
                </form>
<!--                <input class="form-control" id="input1-group2" type="text" name="input1-group2" placeholder="Search Participant Name" autocomplete="username">-->
<!--                <span class="input-group-prepend"><button class="btn btn-primary btn-sm" type="button">-->
<!--                    <svg class="c-icon">-->
<!--                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"></use>-->
<!--                    </svg> Search-->
<!--                </button></span>-->
<!--                <div class="btn-group">-->
<!--                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department</button>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>-->
<!--                </div>-->
<!--                <div class="btn-group">-->
<!--                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Program</button>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>-->
<!--                </div>-->
<!--                <div class="btn-group">-->
<!--                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">State</button>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>-->
<!--                </div>-->
<!--                <div class="btn-group">-->
<!--                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">District</button>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>-->
<!--                </div>-->
<!--                <div class="btn-group">-->
<!--                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Number of Months</button>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>-->
<!--                </div>-->
<!--                <div class="btn-group">-->
<!--                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>-->
<!--                </div>-->
            </div>
        </div>
    </div>

    <div class="fade-in">
        <div style="overflow-x:auto; display: flex;">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-responsive-lg">
                            <thead>
                                <tr>
                                    <th>Participant ID</th>
                                    <th>Batch ID</th>
                                    <th>RCED Batch ID</th>
                                    <th>Program Name</th>
                                    <th>Placement Status</th>
                                    <th>Reason</th>
                                    <th>Employer Name</th>
                                    <th>Job Type</th>
                                    <th>Job Position</th>
                                    <th>Salary</th>
                                    <th>Job ID</th>
                                    <th>Other Benefit</th>
                                    <th>Date of Joining</th>
                                    <th>Contact Person</th>
                                    <th>Contact Person No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for placement in filter.qs %}
                                <tr>
                                    <td>{{ placement.participant_id_skill }}</td>
                                    <td>{{ placement.placement_id_batch_id }}</td>
                                    <td>{{ placement.placement_id_rced_batch_id }}</td>
                                    <td>{{ placement.course_name }}</td>
                                    <td>{{ placement.placement_status }}</td>
                                    <td>{{ placement.reason }}</td>
                                    <td>{{ placement.employer_name }}</td>
                                    <td>{{ placement.job_type }}</td>
                                    <td>{{ placement.job_position }}</td>
                                    <td>{{ placement.salary }}</td>
                                    <td>{{ placement.job_id }}</td>
                                    <td>{{ placement.other_benefit }}</td>
                                    <td>{{ placement.date_of_joining }}</td>
                                    <td>{{ placement.contact_person }}</td>
                                    <td>{{ placement.contact_person_no }}</td>
                                    <td>
                                        <a href="{% url 'placementSkill_update' placement.participant_id_skill %}" class="btn text-secondary px-0">
                                            <i class="c-icon c-icon-xl cil-pencil"></i>
                                        </a>
                                        <form action="{% url 'placementSkill_del' placement.participant_id_skill %}" method="post" class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn text-secondary px-0">
                                               <i class="c-icon c-icon-xl mt-0 mb-0 cil-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}