{% extends "layouts/base_ent.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="card">
    <div class="card-header"><i class="fa fa-align-justify"></i> Simple Table</div>
    <div class="card-body">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th>Participant ID</th>
                    <th>Program name</th>
                    <th>Department name</th>
                    <th>Location</th>
                    <th>Collage Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>No of participants</th>
                    <th>Financial year</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="">
                            <a href="/insprogEnt"><button class="btn btn-success btn-sm px-2" type="submit"> Edit </button></a>
                        </div>
                        <div class="">
                            <a href="/insprogEnt"><button class="btn btn-danger btn-sm " type="submit"> Delete </button></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}