{% extends "layouts/base_skill.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/vendors/@coreui/icons/css/free.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
{% endblock stylesheets %} 
{% block content %}
<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <div class="c-subheader px-3">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" class="breadcrumbs-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/deptSkill" class="breadcrumbs-link ">Skill</a>
            </li>
            <li class="breadcrumb-item ">
                <a href="/participantSkill_list" class="breadcrumbs-link active">Manage Participants</a>
            </li>
        </ul>
    </div>
</header>

<main class="c-main">
    <div class="form-group row">
        <div class="col-sm-9">
            <div class="input-group ">
                <input class="form-control" id="input1-group2" type="text" name="input1-group2" placeholder="Search Participant Name" autocomplete="username">
                <span class="input-group-prepend"><button class="btn btn-primary btn-sm" type="button">
                    <svg class="c-icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"></use>
                    </svg> Search
                </button></span>
                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Program</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">State</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">District</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Number of Months</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade-in">
        <div style="overflow-x:auto; display: flex;">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-responsive-lg">
                            <thead>
                                <tr>
                                    <th>Program ID</th>
                                    <th>Participant ID</th>
                                    <th>Salutation</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Email</th>
                                    <th>Marital Status</th>
                                    <th>Father's Name</th>
                                    <th>Mother's Name</th>
                                    <th>Relgion</th>
                                    <th>Category</th>
                                    <th>Disibility Input</th>
                                    <th>Disibility Type</th>
                                    <th>Domicile State</th>
                                    <th>Domicile District</th>
                                    <th>ID Type</th>
                                    <th>Alternate ID Type</th>
                                    <th>Aadhar Number</th>
                                    <th>Alternate Id Number</th>
                                    <th>Country Code</th>
                                    <th>Phone Number</th>
                                    <th>Education Level</th>
                                    <th>Permanent Address</th>
                                    <th>Permanent State</th>
                                    <th>Permanent District</th>
                                    <th>Permanent Pincode</th>
                                    <th>Permanent City</th>
                                    <th>Permanent Tehsil</th>
                                    <th>Permanent Constituency</th>
                                    <th>Permanent Address same as Communication Address</th>
                                    <th>Communication Address</th>
                                    <th>Communication State</th>
                                    <th>Communication District</th>
                                    <th>Comunication Pincode</th>
                                    <th>Communication City</th>
                                    <th>Communication Tehsil</th>
                                    <th>Communication Constituency</th>
                                    <th>Training Status</th>
                                    <th>Previous Sector Experience</th>
                                    <th>No. of months</th>
                                    <th>Employed</th>
                                    <th>Employment Status</th>
                                    <th>Employment Details</th>
                                    <th>Heard About Us</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for participant in participantSkill_list %}
                                <tr>
                                    <td>{{ participant.program_id }}</td>
                                    <td>{{ participant.participant_id_skill }}</td>
                                    <td>{{ participant.name_skill_salutation }}</td>
                                    <td>{{ participant.name_skill_FirstName }}</td>
                                    <td>{{ participant.name_skill_LastName }}</td>
                                    <td>{{ participant.gender }}</td>
                                    <td>{{ participant.dob }}</td>
                                    <td>{{ participant.email }}</td>
                                    <td>{{ participant.fathers_name }}</td>
                                    <td>{{ participant.mothers_name }}</td>\
                                    <td>{{ participant.religion }}</td>
                                    <td>{{ participant.category }}</td>
                                    <td>{{ participant.disability_input }}</td>
                                    <td>{{ participant.disability_type }}</td>
                                    <td>{{ participant.domicile_state }}</td>
                                    <td>{{ participant.domicile_district }}</td>
                                    <td>{{ participant.idcard_skill_id_type }}</td>
                                    <td>{{ participant.idcard_skill_alt_id_type }}</td>
                                    <td>{{ participant.idcard_skill_alt_id_no }}</td>
                                    <td>{{ participant.idcard_skill_aadhaar_ref_no }}</td>
                                    <td>{{ participant.mobile_skill_country_code }}</td>
                                    <td>{{ participant.mobile_skill_number }}</td>
                                    <td>{{ participant.education_level }}</td>
                                    <td>{{ participant.perm_address }}</td>
                                    <td>{{ participant.perm_state }}</td>
                                    <td>{{ participant.perm_district }}</td>
                                    <td>{{ participant.perm_pincode }}</td>
                                    <td>{{ participant.perm_city }}</td>
                                    <td>{{ participant.perm_tehsil }}</td>
                                    <td>{{ participant.perm_constituency }}</td>
                                    <td>{{ participant.pa_same_as_ca }}</td>
                                    <td>{{ participant.comm_address }}</td>
                                    <td>{{ participant.comm_state }}</td>
                                    <td>{{ participant.comm_district }}</td>
                                    <td>{{ participant.comm_pincode }}</td>
                                    <td>{{ participant.comm_city }}</td>
                                    <td>{{ participant.comm_tehsil }}</td>
                                    <td>{{ participant.comm_constituency }}</td>
                                    <td>{{ participant.training_status }}</td>
                                    <td>{{ participant.job_details_prev_exp_sector }}</td>
                                    <td>{{ participant.job_details_no_of_months }}</td>
                                    <td>{{ participant.job_details_employed }}</td>
                                    <td>{{ participant.job_details_employment_status }}</td>
                                    <td>{{ participant.job_details_employment_details }}</td>
                                    <td>{{ participant.heard_about_us }}</td>
                                    <td>
                                        <a href="{% url 'participantSkill_update' participant.participant_id_skill %}" class="btn text-secondary px-0">
                                            <i class="c-icon c-icon-xl cil-pencil"></i>
                                        </a>
                                        <form action="{% url 'participantSkill_del' participant.participant_id_skill %}" method="post" class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn text-secondary px-0">
                                               <i class="c-icon c-icon-xl mt-0 mb-0 cil-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}