{% extends "layouts/base_skill.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<main class="c-main">
    <div class="fade-in">
        <div style="overflow-x:auto;">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>Serial number</th>
                                    <th>Program ID</th>
                                    <th>Participant name</th>
                                    <th>Father/Husband's Name</th>
                                    <th>Id proof</th>
                                    <th>Date of Birth</th>
                                    <th>Category</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Contact Number</th>
                                    <th>Gender</th>
                                    <th>Job</th>
                                    <th>Qualification</th>
                                    <th>Date on which unit started</th>
                                    <th>Number of Participants employed</th>
                                    <th>Place of unit</th>
                                    <th>Amount deposited</th>
                                    <th>Financed By</th>
                                    <th>Date of Loan released</th>
                                    <th>CE</th>
                                    <th>WC</th>
                                    <th>TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}