{% extends "layouts/base_skill.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<main class="c-main">
    <div class="fade-in">
        <div style="overflow-x:auto;">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>Program ID</th>
                                    <th>Participant ID</th>
                                    <th>Salutation</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Email</th>
                                    <th>Marital Status</th>
                                    <th>Father's Name</th>
                                    <th>Mother's Name</th>
                                    <th>Relgion</th>
                                    <th>Category</th>
                                    <th>Disibility:Yes or No</th>
                                    <th>Domicile State</th>
                                    <th>Domicile District</th>
                                    <th>ID card type</th>
                                    <th>Alternate ID Type</th>
                                    <th>Country Code</th>
                                    <th>Phone Number</th>
                                    <th>Education Level</th>
                                    <th>Permanent Address</th>
                                    <th>Permanent Constituency</th>
                                    <th>Permanent City</th>
                                    <th>Permanent District</th>
                                    <th>Permanent State</th>
                                    <th>Permanent Pincode</th>
                                    <th>PA same as CA</th>
                                    <th>Communication Address</th>
                                    <th>Communication Constituency</th>
                                    <th>Communication City</th>
                                    <th>Communication District</th>
                                    <th>Communication State</th>
                                    <th>Comunication Pincode</th>
                                    <th>Training Status</th>
                                    <th>Employment Status</th>
                                    <th>Employed Through</th>
                                    <th>Previous Sector Experience</th>
                                    <th>No. of months</th>
                                    <th>Heard About Us</th>
                                    <th>TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}