{% extends "layouts/base_skill.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/vendors/@coreui/icons/css/free.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock stylesheets %} 
{% block content %}
<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <div class="c-subheader px-3">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" class="breadcrumbs-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/deptSkill" class="breadcrumbs-link ">Skill</a>
            </li>
            <li class="breadcrumb-item ">
                <a href="/deptSkill" class="breadcrumbs-link active">Manage Departments</a>
            </li>
        </ul>
    </div>
</header>
<main class="c-main">
    <div class="form-group row">
        <div class="col-sm-3">
            <div class="input-group ">
                <input class="form-control" id="input1-group2" type="text" name="input1-group2" placeholder="Search Department Name" autocomplete="username">
                <span class="input-group-prepend"><button class="btn btn-primary btn-sm" type="button">
                    <svg class="c-icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"></use>
                    </svg> Search
                </button></span>
            </div>
        </div>
    </div>
    <div class="fade-in">
        <div style="overflow-x:auto;">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>Department ID</th>
                                    <th>Department Name</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for department in deptSkill %}
                                <tr>
                                    <td>{{ department.id }}</td>
                                    <td>{{ department.department_name_skill }}</td>
                                    <td>{{ department.category_skill }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}