{% extends "layouts/base_awareness.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/vendors/@coreui/icons/css/free.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endblock stylesheets %} {% block content %}
<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <div class="c-subheader px-3">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" class="breadcrumbs-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/ui-view_department_awareness_chart.html" class="breadcrumbs-link ">Awareness</a>
            </li>
            <li class="breadcrumb-item ">
                <a href="ui-view_participant_awareness.html" class="breadcrumbs-link active">Manage Participants</a>
            </li>
        </ul>
    </div>
</header>
<main class="c-main">
    <div class=" container-fluid ">
        <div class="form-group row ">
            <div class="input-group ">
                <form method="get ">
                    {{ filter.form.name_of_trainee }} {{ filter.form.program_id_aware }} {{ filter.form.gender }} {{ filter.form.category_aware }}
                    <button class="btn btn-sm btn-primary " type="submit "> Search</button>
                </form>
            </div>
        </div>

        <body style="overflow-x:scroll">
            <div class="container-fluid ">
                <div class="fade-in ">
                    <div class="row ">
                        <!-- /.row-->
                        <div class="row ">
                            <div class="col-lg-12 ">
                                <div class="card ">
                                    <div class="card-header "><i class="fa fa-align-justify "></i>Participant Details</div>
                                    <div class="card-body ">
                                        <div>Record Count: {{ filter.qs.count }}</div>
                                        <br>
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm ">
                                            <thead>
                                                <tr>
                                                    <th>Participant ID</th>
                                                    <th>Program ID</th>
                                                    <th>Name of Trainee</th>
                                                    <th>Father/Husband Name</th>
                                                    <th>Gender</th>
                                                    <th>date_of_birth</th>
                                                    <th>Country Code</th>
                                                    <th>Primary Mobile No.</th>
                                                    <th>Secondary Mobile No</th>
                                                    <th>Adhaar No.</th>
                                                    <th>Category</th>
                                                    <th>Qualification</th>
                                                    <th>Primary Email</th>
                                                    <th>Secondary Email</th>
                                                    <th>Location</th>
                                                    <th>City</th>
                                                    <th>State</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for participantaware in filter.qs %}
                                                <tr>
                                                    <td>{{ participantaware.participant_id_aware }}</td>
                                                    <td>{{ participantaware.program_id_aware}}</td>
                                                    <td>{{ participantaware.name_of_trainee }}</td>
                                                    <td>{{ participantaware.father_or_husband_name }}</td>
                                                    <td>{{ participantaware.gender }}</td>
                                                    <td>{{ participantaware.date_of_birth }}</td>
                                                    <td>{{ participantaware.mobile_aware_country_code }}</td>
                                                    <td>{{ participantaware.mobile_aware_primary_mobile }}</td>
                                                    <td>{{ participantaware.mobile_aware_secondary_mobile }}</td>
                                                    <td>{{ participantaware.aadhaar_ref_no }}</td>
                                                    <td>{{ participantaware.category_aware }}</td>
                                                    <td>{{ participantaware.qualification }}</td>
                                                    <td>{{ participantaware.primary_email }}</td>
                                                    <td>{{ participantaware.secondary_email }}</td>
                                                    <td>{{ participantaware.address_aware_location }}</td>
                                                    <td>{{ participantaware.address_aware_city }}</td>
                                                    <td>{{ participantaware.address_aware_state }}</td>
                                                    <td>
                                                        <a href="{% url 'participantaware_update' participantaware.participant_id_aware %} " class="btn text-secondary px-0 ">
                                                            <i class="c-icon c-icon-xl cil-pencil "></i>
                                                        </a>
                                                        <form action="{% url 'participantaware_del' participantaware.participant_id_aware %} " method="post " class="d-inline ">
                                                            {% csrf_token %}
                                                            <button type="submit " class="btn text-secondary px-0 ">
                                               <i class="c-icon c-icon-xl mt-0 mb-0 cil-trash "></i>
                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <nav>
                                            <ul class="pagination ">
                                                <li class="page-item "><a class="page-link " href="# ">Prev</a></li>
                                                <li class="page-item active "><a class="page-link " href="# ">1</a></li>
                                                <li class="page-item "><a class="page-link " href="# ">2</a></li>
                                                <li class="page-item "><a class="page-link " href="# ">3</a></li>
                                                <li class="page-item "><a class="page-link " href="# ">4</a></li>
                                                <li class="page-item "><a class="page-link " href="# ">Next</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-->
                        </div>
                    </div>
                    <!-- /.row-->
                </div>
            </div>
        </body>
    </div>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}